<div class="flex flex-col gap-8">
  <app-step-wrapper
    *ngIf="selectedSize"
    label="04. Select binder style"
  >
    <app-button
      *ngFor="let style of styles"
      [label]="style.label"
      [binderImage]="{
        width: selectedSize.width,
        height: selectedSize.height,
        isCollection: style.isCollection
      }"
      (click)="navigateToOverview(style)"
    ></app-button>
  </app-step-wrapper>
  <div class="flex flex-col gap-2 text-sm">
    <div class="flex justify-center items-center w-6 h-6 bg-gray-800 rounded-full">
      <p class="text-white font-bold">
        ?
      </p>
    </div>
    <p *ngFor="let style of styles">
      <span class="font-bold italic">
        {{ style.label }}
      </span>:
      {{ style.description }}
    </p>
  </div>
</div>
