<app-loading *ngIf="isLoading"></app-loading>
<app-step-wrapper
  *ngIf="!isLoading"
  label="01. Select Series"
>
  <app-button
    *ngFor="let series of series"
    [label]="series.name"
    [image]="{
      src: series.logo,
      alt: series.name
    }"
    (click)="navigateToSet(series)"
  ></app-button>
  <app-button
    label="Other"
    [image]="{
      src: 'https://images.pokemontcg.io/base1/logo.png',
      alt: 'Base'
    }"
    (click)="navigateToSet({ name: 'Other', logo: 'https://images.pokemontcg.io/base1/logo.png'})"
  ></app-button>
</app-step-wrapper>
