<div class="flex">
  <div
    *ngIf="binderImage.hasPlus"
    [ngStyle]="{ 'width': emptyPageWidth }"
    class="flex items-center justify-center border border-gray-400"
  >
    <div class="w-6 text-gray-800">
      <app-plus-icon></app-plus-icon>
    </div>
  </div>
  <div
    *ngFor="let el of [].constructor(pageAmount)"
    [ngClass]="gridClasses"
    class="grid gap-1 p-1 border border-gray-400"
  >
    <app-card
      *ngFor="let el of [].constructor(cardAmount)"
      [isCollection]="binderImage.isCollection"
    ></app-card>
  </div>
</div>
