<div class="flex">
  <div
    *ngIf="binderImage.hasPlus"
    [ngStyle]="{ 'width': emptyPageWidth }"
    class="flex items-center justify-center border border-gray-400"
  >
    <div
      *ngIf="binderImage.hasPlus"
      class="relative flex justify-center items-center w-6 h-6"
    >
      <div class="w-1.5 h-full bg-gray-800"></div>
      <div class="absolute w-full h-1.5 bg-gray-800"></div>
    </div>
  </div>
  <div
    *ngFor="let el of [].constructor(pageAmount)"
    [ngClass]="gridClasses"
    class="grid gap-1 p-1 border border-gray-400"
  >
    <app-card
      *ngFor="let el of [].constructor(cardAmount)"
      [isCollection]="binderImage.isCollection"
    ></app-card>
  </div>
</div>
