<app-loading *ngIf="isLoading"></app-loading>
<div
  *ngIf="!isLoading && selectedSet && selectedSize && selectedStyle"
  class="flex flex-col items-center gap-4"
>
  <div class="flex pb-2 overflow-x-auto">
    <div
      *ngIf="pages[0].length == 0 || pages[1].length == 0"
      [ngClass]="orderClass"
      class="flex-shrink-0 grid grid-cols-1 grid-rows-1"
    >
      <div
        [ngClass]="emptyPageClasses"
        class="flex justify-center border-2 border-gray-400"
      >
        <div
          *ngIf="currentPageLeft == 0"
          class="flex flex-col justify-center items-center gap-4 h-full max-w-xs p-2 mobile:p-4"
        >
          <img
            [src]="selectedSet.images.logo"
            [alt]="selectedSet.name"
          />
          <div class="flex flex-col gap-1 text-sm mobile:text-base">
            <div
              *ngFor="let info of binderInfo"
              class="grid grid-cols-3 gap-1"
            >
              <p class="truncate">
                {{ info.label }}:
              </p>
              <p class="col-span-2 font-semibold truncate">
                {{ info.value }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngFor="let page of pages"
      [ngClass]="getPageClasses(page)"
      class="flex-shrink-0 grid gap-2 mobile:gap-4 p-2 mobile:p-4 border-2 border-gray-400"
    >
      <a
        *ngFor="let card of page"
        [href]="card.images.large"
        target="_blank"
        class="w-20 mobile:w-32 h-card-mobile mobile:h-card-desktop"
      >
        <img
          [src]="card.images.small"
          class="w-full h-auto"
        />
      </a>
    </div>
  </div>
  <div
    [ngStyle]="{ 'max-width': controlsWidth }"
    class="flex justify-between gap-2 w-full"
  >
    <p class="w-5 text-left">
      {{ currentPageLeft }}
    </p>
    <div class="flex items-center gap-4">
      <button
        [class]="currentPageLeft > 0 ? 'bg-primary' : 'bg-disabled cursor-default'"
        class="flex justify-center items-center w-10 h-10 text-white font-semibold rounded-full"
        (click)="goToPage('first')"
      >
        <p>
          0
        </p>
      </button>
      <button
        [class]="currentPageLeft > 0 ? 'bg-primary' : 'bg-disabled cursor-default'"
        class="w-12 h-12 p-3 rounded-full"
        (click)="goToPage('previous')"
      >
        <app-angle-left-icon></app-angle-left-icon>
      </button>
      <button
        [class]="currentPageRight < (cards.length / pageSize) ? 'bg-primary' : 'bg-disabled cursor-default'"
        class="w-12 h-12 p-3 rounded-full"
        (click)="goToPage('next')"
      >
        <app-angle-right-icon></app-angle-right-icon>
      </button>
      <button
        [class]="currentPageRight < (cards.length / pageSize) ? 'bg-primary' : 'bg-disabled cursor-default'"
        class="flex justify-center items-center w-10 h-10 text-white font-semibold rounded-full"
        (click)="goToPage('last')"
      >
        <p>
          {{ pageAmount }}
        </p>
      </button>
    </div>
    <p class="w-5 text-right">
      {{ currentPageRight }}
    </p>
  </div>
</div>
