<app-loading *ngIf="isLoading"></app-loading>
<div
  *ngIf="!isLoading && selectedSet && selectedSize && selectedStyle"
  class="flex flex-col items-center gap-4"
>
  <app-binder-settings
    [superTypeFilters]="superTypeFilters"
    [rarityFilters]="rarityFilters"
    [sortingOptions]="sortingOptions"
    (toggleFilterEnabled)="toggleFilterEnabled($event)"
    (toggleSortingOption)="toggleSortingOption($event)"
  ></app-binder-settings>
  <div class="flex py-2 overflow-x-auto">
    <div
      *ngIf="cardsLeft.length == 0 || cardsRight.length == 0"
      [ngClass]="orderClass"
      class="flex-shrink-0 grid grid-cols-1 grid-rows-1"
    >
      <div
        [ngClass]="emptyPageClasses"
        class="flex justify-center border-2 border-primary"
      >
        <div
          *ngIf="currentPageLeft == 0"
          class="flex flex-col justify-center items-center gap-4 max-w-xs h-full p-2 mobile:p-4"
        >
          <div class="flex items-center h-20 mobile:h-32">
            <img
              [src]="selectedSet.images.logo"
              [alt]="selectedSet.name"
              class="max-w-full max-h-full"
            />
          </div>
          <div class="flex flex-col gap-1 text-sm mobile:text-base">
            <div
              *ngFor="let info of binderInfo"
              class="grid grid-cols-2 gap-1"
            >
              <p>
                {{ info.label }}:
              </p>
              <p class="font-semibold">
                {{ info.value }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      *ngIf="cardsLeft.length == 0 && cardsRight.length == 0"
      class="order-2 flex-shrink-0 grid grid-cols-1 grid-rows-1"
    >
      <div
        [ngClass]="emptyPageClasses"
        class="border-2 border-primary"
      ></div>
    </div>
    <div
      [ngClass]="getPageClasses(cardsLeft)"
      class="order-1 flex-shrink-0 grid gap-2 mobile:gap-4 p-2 mobile:p-4 border-2 border-primary"
    >
      <app-binder-card
        *ngFor="let card of cardsLeft"
        [card]="card"
        [isCollection]="isCollection"
        [isCollected]="cardCollected(card.id)"
        (toggleCollected)="toggleCollected(card.id)"
      ></app-binder-card>
    </div>
    <div
      [ngClass]="getPageClasses(cardsRight)"
      class="order-2 flex-shrink-0 grid gap-2 mobile:gap-4 p-2 mobile:p-4 border-2 border-primary"
    >
      <app-binder-card
        *ngFor="let card of cardsRight"
        [card]="card"
        [isCollection]="isCollection"
        [isCollected]="cardCollected(card.id)"
        (toggleCollected)="toggleCollected(card.id)"
      ></app-binder-card>
    </div>
  </div>
  <div
    [ngStyle]="{ 'max-width': controlsWidth }"
    class="flex justify-between gap-2 w-full"
  >
    <p class="w-5 text-left">
      {{ currentPageLeft }}
    </p>
    <div class="flex items-center gap-4">
      <button
        [disabled]="isFirstPage"
        [class]="!isFirstPage ? 'bg-primary' : 'bg-disabled cursor-default'"
        class="flex justify-center items-center w-10 h-10 text-white font-semibold rounded-full"
        (click)="goToPage('first')"
      >
        <p>
          0
        </p>
      </button>
      <button
        [disabled]="isFirstPage"
        [class]="!isFirstPage ? 'bg-primary' : 'bg-disabled cursor-default'"
        class="w-12 h-12 p-3 rounded-full"
        (click)="goToPage('previous')"
      >
        <app-angle-left-icon></app-angle-left-icon>
      </button>
      <button
        [disabled]="isLastPage"
        [class]="!isLastPage ? 'bg-primary' : 'bg-disabled cursor-default'"
        class="w-12 h-12 p-3 rounded-full"
        (click)="goToPage('next')"
      >
        <app-angle-right-icon></app-angle-right-icon>
      </button>
      <button
        [disabled]="isLastPage"
        [class]="!isLastPage ? 'bg-primary' : 'bg-disabled cursor-default'"
        class="flex justify-center items-center w-10 h-10 text-white font-semibold rounded-full"
        (click)="goToPage('last')"
      >
        <p>
          {{ pageAmount }}
        </p>
      </button>
    </div>
    <p class="w-5 text-right">
      {{ currentPageRight }}
    </p>
  </div>
</div>
