<app-loading *ngIf="isLoading"></app-loading>
<app-step-wrapper
  *ngIf="!isLoading"
  [ngClass]="binders.length < 5 ? 'flex justify-center' : ''"
>
  <app-button
    label="New binder"
    [binderImage]="{
      width: 3,
      height: 3,
      hasPlus: true
    }"
    (click)="navigateToNew()"
  ></app-button>
  <app-button
    *ngFor="let binder of binders; index as i"
    label="Load binder"
    [image]="{
      src: binder.set.logo!,
      alt: binder.set.name!
    }"
    [isDeletable]="true"
    (delete)="deleteBinder(i)"
    (click)="navigateToBinder(binder)"
  ></app-button>
  <app-button
    *ngIf="binders.length == 0"
    label="Load binder"
    [image]="{
      src: 'https://images.pokemontcg.io/base1/logo.png',
      alt: 'Base'
    }"
    [isDisabled]="true"
  ></app-button>
</app-step-wrapper>
