<div class="flex flex-col items-center gap-4">
  <div class="flex divide-x-4 divide-black border-4 border-black rounded">
    <div class="grid grid-cols-3 grid-rows-3 gap-2 p-4 w-[432px] h-[584.03px]">
      <div
        *ngFor="let card of cardsLeft"
        class="w-32"
      >
        <img
          [src]="card.images.small"
          class="w-full h-auto"
        />
      </div>
    </div>
    <div class="grid grid-cols-3 grid-rows-3 gap-2 p-4 w-[432px] h-[584.03px]">
      <div
        *ngFor="let card of cardsRight"
        class="w-32"
      >
        <img
          [src]="card.images.small"
          class="w-full h-auto"
        />
      </div>
    </div>
  </div>
  <div class="flex justify-between gap-2 w-full">
    <p>
      {{ currentPageLeft }}
    </p>
    <div class="flex gap-4">
      <button
        class="w-20 p-2 bg-red-300"
        (click)="previousPage()"
      >
        Previous
      </button>
      <button
        class="w-20 p-2 bg-green-300"
        (click)="nextPage()"
      >
        Next
      </button>
    </div>
    <p>
      {{ currentPageRight }}
    </p>
  </div>
</div>
