<div class="flex flex-col gap-4">
  <div class="flex divide-x-4 divide-gray-400 border-4 border-gray-400 rounded-lg">
    <div *ngFor="let page of pages">
      <div
        [style]="sizeStyles"
        [class]="gridClasses"
        class="grid gap-2 p-4"
      >
        <div
          *ngFor="let card of page"
          class="w-32"
        >
          <img
            [src]="card.images.small"
            class="w-full h-auto"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-between gap-2 px-4 w-full">
    <p>
      {{ currentPageLeft }}
    </p>
    <div class="flex gap-4">
      <button
        [class]="currentPageLeft > 0 ? 'bg-red hover:bg-opacity-90' : 'bg-disabled cursor-default'"
        class="w-24 py-2 text-white font-bold rounded-full duration-100"
        (click)="previousPage()"
      >
        Previous
      </button>
      <button
        [class]="currentPageRight < (cards.length / pageSize) ? 'bg-secondary hover:bg-opacity-90' : 'bg-disabled cursor-default'"
        class="w-24 py-2 text-white font-bold rounded-full duration-100"
        (click)="nextPage()"
      >
        Next
      </button>
    </div>
    <p>
      {{ currentPageRight }}
    </p>
  </div>
</div>
