<div class="flex flex-col items-center gap-4">
  <div class="flex divide-x-4 divide-black border-4 border-black rounded">
    <div *ngFor="let page of pages">
      <div
        [style]="widthStyle"
        [class]="gridClasses"
        class="grid gap-2 p-4"
      >
        <div
          *ngFor="let card of page"
          class="w-32"
        >
          <img
            [src]="card.images.small"
            class="w-full h-auto"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-between gap-2 w-full">
    <p>
      {{ currentPageLeft }}
    </p>
    <div class="flex gap-4">
      <button
        class="w-20 p-2 bg-red text-white"
        (click)="previousPage()"
      >
        Previous
      </button>
      <button
        class="w-20 p-2 bg-secondary text-white"
        (click)="nextPage()"
      >
        Next
      </button>
    </div>
    <p>
      {{ currentPageRight }}
    </p>
  </div>
</div>
